@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #242424;
  color: #fff;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  padding: 0.5rem 1rem;
}
